<ion-header>
  <ion-toolbar>
    <ion-title>Crear Mensaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="enviarMensaje()">
    <ion-item>
      <ion-label position="floating">Título</ion-label>
      <ion-input [(ngModel)]="titulo" name="titulo" maxlength="50"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mensaje</ion-label>
      <ion-textarea [(ngModel)]="contenido" name="contenido" maxlength="500"></ion-textarea>
    </ion-item>

    <!-- <ion-item>
      <ion-label>Adjuntar Archivos</ion-label>
      <input type="file" (change)="seleccionarArchivos($event)" multiple accept=".jpg,.png,.pdf,.doc,.docx,.zip" />
    </ion-item> -->

    <ion-button expand="block" type="submit" color="primary">Enviar</ion-button>
  </form>
</ion-content>
