<ion-header>
  <ion-toolbar>
    <ion-title>IniciarSesion </ion-title>
  </ion-toolbar>
</ion-header>
<div class="centrar">
  <img src="../../assets/RiverlogoCircular.png" alt="Imgen logo" class="imagen">
</div>


<ion-content>
  <div class="form">
    <div class="data">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input [(ngModel)]="username"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
  </div>
    <div class="flexx">
    <ion-button color="primary"  (click)="login()">Login</ion-button>
  
    <ion-button color="secondary" (click)="goToRegister()">Registrarse</ion-button> 
  </div>
  </div>
 
</ion-content>
