.alert-button {
    background-color: #ff0000; // Rojo fuerte
    color: #000000; // Texto negro
    border-radius: 8px; // Opcional: Redondear los bordes del botón
    font-size: 16px; // Opcional: Ajustar el tamaño del texto
    font-size: 18px;
    height: 60px;
    width: 100%;
  }
  