

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">rios</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <div class="titulo_aline">
    <p class="home_titulo">
        Rios Monitoreados cerca de tu 
    </p>
    <ion-icon name="location-outline" size="large"></ion-icon>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="card-rios">
    <ion-list>
      <!-- Recorremos la lista de ríos -->
      <ion-card *ngFor="let river of riverst" class="rio-card">
        <!-- El encabezado del recuadro cambia de color según la alerta -->
       <div class="card">
        <ion-card-header [ngClass]="getAlertaClass(river.alertLevel)">
          <ion-card-title>{{ river.nombre }}</ion-card-title>
          <p>Nivel de Alerta: {{ river.alertLevel }}</p> <!-- Mostrar nivel de alerta -->
          <!-- <p>Color de Alerta: {{ river.alertColor }}</p> Mostrar color de alerta -->
        </ion-card-header>

        <!-- Contenido del recuadro -->
        <ion-card-content>
          <div class="flexx">
            <div> <p>Longitud: {{ river.longitud }}</p>
              <p>Latitud: {{ river.latitud }}</p></div>
         
          <!-- Botón Ver Más -->
          <ion-button  [routerLink]="['/datos-sensores', river]" routerDirection="forward">
            Ver Más
          </ion-button>
        </div>
        </ion-card-content>
       </div>
      </ion-card>
    </ion-list>
  </div>
</ion-content>

