.river-item {
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.river-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.rio-card {
  margin: 20px; /* Espacio entre los recuadros */
  border-radius: 10px; /* Bordes redondeados */
  max-width: 500px;
}

.green-alert {
  background-color: #32db64; /* Color verde para alerta baja */
  color: white;
}

.yellow-alert {
  background-color: #ffce00; /* Color amarillo para alerta media */
  color: white;
}

.red-alert {
  background-color: #f04141; /* Color rojo para alerta alta */
  color: white;
}

.home_titulo{
  font-size: 22px;

}
.titulo_aline{
  display: flex;
 align-items: center;
}

.titulo_aline{
  ion-icon{
    margin-left: 10px;
  }p{
    margin-left: 10px;
  }
}

.flexx{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card-rios{
  max-width: 70%;
  margin: 0 auto;
}

.card{
  max-width: 80%;
  margin: 0 auto;
}

.card{
  ion-card-header{
    border-radius: 20px;
  }
}
