<ion-header [translucent]="true"><ion-toolbar><ion-title>
  RIVER SAFE - "AGÜAS CON EL AWA"
</ion-title></ion-toolbar></ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
   

  <ion-card-content>

    <!-- Introducción -->
    <section><h2>Acerca de RiverSafe</h2><p>
     <br><br>
    </p></section>
    
    <!-- Preguntas -->
     <section><h2>¿Qué es?</h2><p>
    Es un proyecto acerca de un dispositivo electronico encargado de la medicion de varaibles cuantitativas para 
    poder comunicarlas a las autoridades correspondientes <br><br>

    </p></section><section><h2>¿Para qué es?</h2><p>
      RiverSafe busca mantener monitoreado los caudales de rio, para que si llegase a darse una situacion
      en la que la vida de la poblacion puede correr algun peligro, pueda notificar a la poblacion<br><br>

    </p></section><section><h2>¿Cómo?</h2><p>
      RiverSafe implementa una combinacion de sensores electronicos que asu vez se comunican, con un microcontrolador
      (arduino), el cual gestiona y envia los correspondientes datos utilizando un componente GSM que nos da la posibilidad
      de enviar datos utilizando la red movil, es aqui donde al almacenar los datos, estos son recuperados de una base de datos
      para asi poder mostrarlos en la RiverApp
      
    </p></section>

  </ion-card-content></ion-card></ion-content>