<ion-header [translucent]="true"><ion-toolbar><ion-title>
  River Safe
</ion-title></ion-toolbar></ion-header><ion-content [fullscreen]="true"><ion-card><ion-card-header><ion-card-title>
    River Safe
  </ion-card-title></ion-card-header><ion-card-content>

    <!-- Introducción -->
    <section><h2>Introducción</h2><p>
      Intro <br><br>
    </p></section>
    
    <!-- Preguntas -->
     <section><h2>¿Qué es?</h2><p>
    qué es River Safe <br><br>

    </p></section><section><h2>¿Para qué es?</h2><p>
      pa qué es River Safe <br><br>

    </p></section><section><h2>¿Cómo?</h2><p>
      cómo funciona River Safe
      
    </p></section>

  </ion-card-content></ion-card></ion-content>