<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<div class="campo centrar">
  <form (ngSubmit)="register()">

    <div class="card-1">
    <ion-item class="item">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="name" name="name" required></ion-input>
    </ion-item>

  
    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input type="text" [(ngModel)]="apellido" name="apellido" required></ion-input>
    </ion-item>

  </div>

  <div class="card-1"> 
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>
  </div>

  <div class="card-1">
    <ion-item>
      <ion-label position="floating">Numero de Celular</ion-label>
      <ion-input type="tel" [(ngModel)]="celular" name="celular" required></ion-input>
    </ion-item>

      <!-- Selector de Río -->
      <ion-item>
        <ion-label>Selecciona un Río</ion-label>
        <ion-select [(ngModel)]="selectedRio" name="selectedRio" required>
          <ion-select-option *ngFor="let rio of rios" [value]="rio.monitoreo_id">
            {{ rio.monitoreo_nombre }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="card-1">
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="repassword" name="repassword" required></ion-input>
    </ion-item>
  </div>
    <ion-button class="buton" type="submit">Registrarse</ion-button>
  </form>
</div>